@import "./tokens.css";
@import "./framework-compat.css";

.table-custom {
  border-collapse: collapse;
  border-spacing: 0;
}

.table-custom td,
.table-custom th {
  border: solid 1px darkgray;
}

td.data {
  font-family: var(--app-font-family-monospace);
  overflow-wrap: anywhere;
  word-wrap: break-word;
}

@media screen {
  /* barcode needs white background, otherwise not scannable if browser in dark mode */
  td.barcode {
    background-color: var(--app-color-white);
  }
}

@media print {
  body {
    background-color: var(--app-color-white);
    margin: 1rem;
  }

  .screen-only {
    display: none !important;
  }

  td.barcode {
    min-width: 25%;
  }
}

footer {
  text-align: right;
}

.notification {
  margin-top: 0.5rem;
}

.output-inline {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
}

.output-inline .cell {
  background-color: var(--app-color-white);
  border: solid 1px var(--app-color-border-light);
  padding: 10px;
}

.output-inline .barcode {
  text-align: center;
}

.output-inline .text {
  font-family: var(--app-font-family-monospace);
  font-size: small;
  overflow-wrap: anywhere;
  text-align: center;
  word-wrap: break-word;
}
